.pb_stage
  width: 100%
  transition: max-width .35s ease

.pb_stage_drag
  padding: 4rem
  margin: 2rem
  text-align: center
  border: .1rem dotted $dark
  background-color: lighten($light, 1%)
  &:hover
    opacity: .5
