.button-widget
  padding: 2rem .5rem
  margin-bottom: 1rem
  border: none
  cursor: pointer
  background-repeat: no-repeat
  background-size: 2.75rem 2.5rem
  background-position: center .3rem
  &.is-outlined
    &:hover,
    &:focus
      background-color: transparent !important /* stylelint-disable-line declaration-no-important */
      color: $primary !important /* stylelint-disable-line declaration-no-important */
  span
    padding-top: .75rem

.widget-container
  background-image: url('../images/icons/container.svg')

.widget-row
  background-image: url('../images/icons/grid_row.svg')

.widget-col
  background-image: url('../images/icons/grid_col.svg')

.widget-button
  background-image: url('../images/icons/button.svg')

.widget-heading
  background-image: url('../images/icons/heading.svg')

.widget-hero
  background-image: url('../images/icons/hero.svg')

.widget-hr
  background-image: url('../images/icons/hr.svg')

.widget-tag
  background-image: url('../images/icons/tag.svg')

.widget-image
  background-image: url('../images/icons/image.svg')

.widget-box
  background-image: url('../images/icons/box.svg')
