body
  min-height: 100vh

.left-menu
  position: fixed
  top: 0
  left: 0
  height: 100%
  min-width: 15rem
  padding-top: ($navbar-height + $box-padding)
  padding-left: .75rem
  padding-right: .75rem
  border: none
  .widgets li
    display: flex
    button
      flex-grow: 1
      flex-basis: 0
  .widget-button-two
    margin-left: .75rem
